@layer utilities {
  @keyframes gradient-x {
    0%, 100% {
      background-size: 200% 200%;
      background-position: left center;
    }
    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }

  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient-x 5s ease infinite;
  }
}
